/******************************************************************
Site Name:
Author:

Stylesheet: Form Styles

Here are a few defaults for forms and stuffs.

******************************************************************/

@use "../partials/variables";
@use "../partials/responsive";
@use "../partials/typography";
@use "../modules/buttons";


/*********************
INPUTS
*********************/

// setting up defaults
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
select,
textarea,
.field {
    display: block;
    appearance: none;
    outline: 0;
    font: inherit;

    background-color: #fff;
    border: 1px solid variables.$color-white;
    border-bottom: 1px solid variables.$color-black;

    // accent-color: variables.$color-green-1;

    // a focused input (or hovered on)
    &:focus,
    &:active {} // end hover or focus

    // error notification
    &.error,
    &.is-invalid {} // end invalid input

    // success notification
    &.success,
    &.is-valid {} // end valid input

    // a disabled input
    &[disabled],
    &.is-disabled {
        opacity: 0.6;
        cursor: not-allowed;

        &:focus,
        &:active {} // end disabled focus
   
    } // end disabled input
} // end input defaults

// spacing out the password (thx @murtaugh)
input[type="password"] {
    letter-spacing: 0.3em;
}

// textareas
textarea {
    max-width: 100%;
    width: 100%;
}

fieldset {
    border: 1px solid #ccc;

    label {
        font-weight: 600;
    }

    p {
        margin-bottom: 0;
    }
}

legend {
    padding: 0 0.5em;
}

.radio-buttons {
    margin-top: 0;

    li {
        margin-left: 2px;
        list-style-type: none;
    }

    label {
        font-weight: normal;
    }
}
.radio-buttons,
input[type="radio"],
input[type="checkbox"] {
    accent-color: variables.$color-green-1;
    --gf-ctrl-accent-color: #{variables.$color-green-1};
    --gf-ctrl-choice-check-color: #{variables.$color-green-1};
    --gf-ctrl-btn-bg-color-focus-primary: #{variables.$color-green-1};
    --gf-ctrl-file-btn-border-inline-end-color: #{variables.$color-green-1};
    &:focus{
        // --gf-local-shadow: var(--gf-ctrl-shadow-focus)
    }
}

button{
    cursor: pointer;
}

input.minimal,
select.minimal{
    background-color: transparent;
    text-align: center;
    color: inherit;
    [name='selectedFeature']{
        text-transform: uppercase;
    }
    
    font-size: 16px;
    padding: 0.5em;
}

.search-form{
    .search-input{
        display: inline-block;
        position: relative;
        @media (max-width: responsive.$mobile-max){
            width: calc(100% - 3em);
            input.search-field{
                width: 100%;
            
            }
        }
    }
    .search-field{
        border-radius: 30px;
        padding: 0.75em 2.5em 0.75em 0.75em;
        // min-width: 30ch;
    }
    .search-submit{
        position: absolute;
        height: 100%;
        right: 6px;
        top: 0;
        border: none;
        background: transparent;
        color: variables.$color-brand-dark;
        font-size: 22px;
    }
    .minimal-form &{
        input.search-field{
            width: 100%;
            @extend .minimal;
            border: none;
            border-bottom: 1px solid variables.$color-white;
            border-radius: 0;
            text-align: left;
            font-size: 26px;
            padding-inline: 0;
            &::placeholder {
                color: rgba(255,255,255,0.55);
            }
        }
        .search-input{
            display: block;
        }
    }
}



.gform_footer{
    position: relative;
}
.gform-loader,
.gform-ajax-spinner,
.gform_ajax_spinner {
    position: absolute !important;
    display: inline-block !important;
    // margin-inline: auto !important;
    // transform: translate(30px, 3px) !important;
    bottom: -80px;
}

.gform_wrapper{
    --gf-ctrl-font-size: 16px;
    --gf-ctrl-padding-y: 3px;
    --gf-local-padding-y: 3px;
    padding: 2em;
    
    scroll-padding-top: 100px; 
    
    .gform_description{
        line-height: 1.8;
    }
    .gfield_label.gform-field-label{
        // font-family: $grotesk-medium;
        // color: $color-golden-brown;
        text-transform: uppercase !important;
        letter-spacing: 0.25em;
    }
    &:not(.newsletter-signup-container div,.search-container div){
        input[type='submit']{
            @extend .green-button;
            padding-inline: 2em !important;
            @media (min-width: responsive.$non-mobile-min){
                padding-inline: 4em !important;
            }
        }
        textarea,
        input[type]:where(:not(.gform-text-input-reset):not([type=hidden])):where(:not(.gform-theme__disable):not(.gform-theme__disable *):not(.gform-theme__disable-framework):not(.gform-theme__disable-framework *)){
            border: none;
            border-bottom: 1px solid green;
            // color: $color-onyx;
        }
    }
    &:is(.newsletter-signup-container div,.search-container div){
        textarea,
        input[type]:where(:not(.gform-text-input-reset):not([type=hidden])):where(:not(.gform-theme__disable):not(.gform-theme__disable *):not(.gform-theme__disable-framework):not(.gform-theme__disable-framework *)){
            // border: none;
            // border-bottom: 1px solid $color-quartz;
            // color: $color-onyx;
        }
        .gfield_error{
            label{
                // color: $color-ruby;
            }
            textarea,
            input[type]:where(:not(.gform-text-input-reset):not([type=hidden])):where(:not(.gform-theme__disable):not(.gform-theme__disable *):not(.gform-theme__disable-framework):not(.gform-theme__disable-framework *)){
                // border-bottom: 1px solid $color-ruby;
            }
        }
        .gform_validation_errors{
            ol,
            ul,
            li{
                // @extend .normal-font;
                
            }
        }
    }


    // @media (min-width: $non-mobile-min){
    //     padding: 3em 6%;
    // }
}



#main-footer{
    .gfield.minimal{
        select,
        textarea,
        input{
            --gf-local-bg-color: transparent;
            --gform-theme-local-background-color: transparent;
            padding-left: 0;
            border: none;
            box-shadow: none;
            // @extend .font-ogg;
            font-size: 16px;
            @include typography.responsive-font(16px, 24px, 768px, 1440px);
            // color: $color-onyx;
        }
    }
    .gform_footer.top_label{
        margin: 0;
    }
    .gfield_required{
        display: none;
    }
    .gform_footer{
        display: block;
        margin-top: 1rem;
    }
    input.gform_button.button{
        display: block;
    }
    .gform-body{
        padding-bottom: 0.3rem;
        // border-bottom: 1px solid $color-gold;
    }

    @media (min-width: responsive.$non-mobile-min){
        .newsletter-signup-container{
            align-self: end;
        }
        .gform_wrapper{
            padding-bottom: 1.5em;
        }
        form{
            display: flex;
            align-items: center;
            padding-bottom: 1rem;
            // border-bottom: 1px solid $color-gold;
        }
        .gform-body{
            flex-grow: 1;
            padding: 0;
            border-bottom: none;
        }
        .gform_footer{
            margin-top: 0;
        }
    }
}

#signup-container{
    .gform_wrapper{
        padding-inline: 0;
    }
    @media (max-width: responsive.$non-mobile-min){
        .privacy-notice{
            padding-top: 0;
        }
        input[type='submit']{
            width: 100%;
        }
    }
}

// GRAVITY FORMS ADDED TO CONTENT
.gutena-tab-block > .gform_wrapper,
#main > .entry-content > .gform_wrapper{
    grid-column: full-width;
    background-color: variables.$color-green-pale;
    padding-block: calc(var(--block-vertical-inner-space) * 2);
    .gform_validation_errors,
    .gform_heading,
    form{
    }
    .gform_heading{
        text-align: center;
    }
    .gform_footer{
        justify-content: center;
    }
}
